
Krystal3/.vs/Krystal3/v16/.suo
Krystal3/Krystal3/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Krystal3/Krystal3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Krystal3/Krystal3/obj/Debug/Krystal3.csproj.AssemblyReference.cache
