<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="NombreConexion"
       providerName="System.Data.ProviderName"
       connectionString="workstation id=krystalevadb.mssql.somee.com;packet size=4096;user id=noe26_SQLLogin_1;pwd=9ohizywdqn;data source=krystalevadb.mssql.somee.com;persist security info=False;initial catalog=krystalevadb" />
    </connectionStrings>
</configuration>